html {margin:0;padding:0;border:0;}
body, span, h1, h2, section {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
section {display:block;}

body {
    line-height: 1.4;
    background: #FFF:
}

#wrapper {
    min-height: 390px;
    width: 960px;
    margin: 100px auto 20px;
    background: url(me.png) no-repeat 110% 0;
    font-family: 'IM Fell DW Pica', times, serif;
}

h1 {
  line-height: 1.4;
  font-size: 130px;
  text-transform: lowercase;
  margin: 0 10px;
}

h1 .firstname { color: #777; }
h1 .lastname { color: #000; }

h1 .nbsp, h1 .firstname .sz { display: none; }

.firstname:hover .sz { display: inline }
span.firstname:hover ~ .nbsp ~ span.lastname > span.sz { display: none }

@media screen and (-webkit-min-device-pixel-ratio:0) { 

  h1:hover .firstname .sz { display: inline }
  h1:hover .lastname .sz { display: none }

}

h2 {
  font-size: 41px;
  margin: 0 10px;
}

.js h1, .js h2 { display: none }



span.lastname > .sz {
    -webkit-animation: neon 5s infinite alternate;
    -moz-animation:    neon 5s infinite alternate;
    -ms-animation:     neon 5s infinite alternate;
    -o-animation:      neon 5s infinite alternate;
    animation:         neon 5s infinite alternate;
}

@-webkit-keyframes neon {
     0%, 19% { color: #000 }        
    20%, 29% { color: #777 }
    30%, 34% { color: #000 }
    35%, 44% { color: #777 }
    45%, 59% { color: #000 }
    60%, 79% { color: #777 }
    80%, 89% { color: #000 }
    90%,100% { color: #777 }
}

@-moz-keyframes neon {
     0%, 19% { color: #000 }        
    20%, 29% { color: #777 }
    30%, 34% { color: #000 }
    35%, 44% { color: #777 }
    45%, 59% { color: #000 }
    60%, 79% { color: #777 }
    80%, 89% { color: #000 }
    90%,100% { color: #777 }
}

@-ms-keyframes neon {
     0%, 19% { color: #000 }        
    20%, 29% { color: #777 }
    30%, 34% { color: #000 }
    35%, 44% { color: #777 }
    45%, 59% { color: #000 }
    60%, 79% { color: #777 }
    80%, 89% { color: #000 }
    90%,100% { color: #777 }
}

@-o-keyframes neon {
     0%, 19% { color: #000 }        
    20%, 29% { color: #777 }
    30%, 34% { color: #000 }
    35%, 44% { color: #777 }
    45%, 59% { color: #000 }
    60%, 79% { color: #777 }
    80%, 89% { color: #000 }
    90%,100% { color: #777 }
}

@-ms-keyframes neon {
     0%, 19% { color: #000 }        
    20%, 29% { color: #777 }
    30%, 34% { color: #000 }
    35%, 44% { color: #777 }
    45%, 59% { color: #000 }
    60%, 79% { color: #777 }
    80%, 89% { color: #000 }
    90%,100% { color: #777 }
}